/* CSS for hidden rows */
.hidden {
    opacity: 0; /* Make the row transparent */
    transform: translateY(20px); /* Move the row down by 20px */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add a smooth transition effect */
  }
  
/* CSS for visible rows */
.visible {
opacity: 1; /* Make the row fully visible */
transform: translateY(0); /* Reset the row's position */
}

.box-container {
  display: flex;
  /* flex-direction: column; Change flex-direction to column */
  gap: 10px;
}

.box-container > :not(:first-child) {
  flex: 1 1 auto; /* Make the rest of the children have equal-sized portions */ 
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
}

.icon-container > * {
  margin-right: 0.5rem;
}

.chart-icon {
  cursor: pointer;
  padding: 4px;
  margin: 1px;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 12px;
  transition: background-color 0.3s;
}

.chart-icon.active {
  background-color: #2196f3;
  color: #fff;
}

.ReactTable .rt-tbody .rt-td {
  white-space: pre-line !important;
  word-wrap: break-word;
}

.popup-content {
  height: 100%;
  overflow: auto;
}

.chart-wrapper  {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.chart-border  {
  border: 2px solid #000;
}